body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 372px;
    height: 400px;
    margin: auto;
}

.disp {
    width: auto;
    height: 100px;
    border: 2px solid black;
    border-bottom-width: 1px;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: right;
    background-color: rgb(255, 255, 255);
}

.expression {
    margin-right: auto;
    padding-left: 16px;
    padding-top: 8px;
}

.answer {
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
}

.keypad {
    width: auto;
    height: 300px;
    display: flex;
    padding: 8px 0 0 8px;
    border: 2px solid black;
    border-top-width: 1px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    background-color: rgb(240, 240, 240);
}

.numbers {
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.operations {
    width: 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.calculate {
    width: 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.btn.num {
    font-size: 16px;
    font-weight: 800;
}

.btn.clear {
    color: white;
    background-color: red;
    font-weight: 800;
}

.btn.clear:hover {
    background-color: rgb(255, 0, 0, 0.5);
}

.btn.clear:active {
    background-color: red;
}

.btn.equals {
    height: 136px;
    align-self: flex-end;
    color: white;
    background-color: rgb(59, 216, 59);
}

.btn.equals:hover {
    background-color: rgb(59, 216, 59, 0.5);
}

.btn.equals:active {
    background-color: rgb(59, 216, 59);
}

.btn.equals:disabled {
    background-color: rgb(59, 216, 59, 0.5);
}